<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="{{siteTitle}}">
    <meta name="author" content="{{siteAuthor}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>about</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>site/templates/header.html}}

<img src="images/headshot.jpg" align=right width="400" />

I'm a fourth year PhD student at Stanford University.

<h2><u>Personal Links</u> </h2><br>

Hobby: I compose music. Here's an example. <br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/EjZH9OW6eA0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
</iframe><br><br><br><br>

- I also hope to upload my piano repertoire along with chord analysis soon!<br><br>

Hobby: Being a fashion <a href="https://dartmouthfashioncouncildotcom.wordpress.com/2014/05/06/street-style-ft-kris-brown-14/">icon</a>.<br><br>

Other hobbies: Cooking, <a href="https://www.goodreads.com/review/list/32565996-kris-brown?shelf=phil">Philosophy</a> + <a href="https://www.goodreads.com/review/list/32565996-kris-brown?shelf=lit">literature</a>, <a href="https://boardgamegeek.com/collection/user/ksb2021">Board
games</a> / v<a href="mediatest.html">i</a>deo
games, <a href="images/kittenonkeys.jpg">cats</a>.<br><br><br>

</body>
</html>
