{{>site/templates/header.html}}

I take LaTeX notes (which are parsed to make Anki flashcards) on:
<ul>
  <li><a href="https://bookstore.ams.org/gsm-104"><u>Aluffi's Algebra: Chapter 0</u></a> (<a href="https://www.overleaf.com/read/nrncnrbtnnmq">pdf</a>, <a href="https://ankiweb.net/shared/info/2017590646">Anki</a>)</li>
  <li><a href="https://arxiv.org/abs/1803.05316"><u>Seven Sketches in Compositionality: An Invitation to Applied Category Theory</u></a> (<a href="https://www.overleaf.com/read/wzgmkgwtfhmm">pdf</a>, <a href="https://ankiweb.net/shared/info/742648439">Anki</a>)</li>
</ul>

<br><br>

<!-- Below you can also find the work broken down by category:

<br><br>
<b>Definitions</b><br>
$for(defs)$ <a href="$url$">$title$</a> $endfor$
<ul>
    {{#defs}}
        <li>
            <a href="{{url}}">{{title}} </a>
        </li>
    {{/defs}}
</ul>

<br><br>
<b>Propositions</b><br>
<br><br>
<b>Examples</b><br>
<br><br>
<b>Exercises</b><br>
<br><br>

-->
